html,body{
    margin:0px;
    height:100%;
    background-color: #7030A0;
    /*font-family: "Arial Narrow";*/
}

.logo{
    float: left;
    margin: 3% auto auto -8%;
    height: 50px;
    background-image: url(./images/logo.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}
.machine{
    float: right;
    margin: 5% -8% auto auto;
    height: 20px;
    font-size: 18px;
    color: #fff;
    display: inline-block;
}
.main-body{
    width: 1000px;
    min-width: 1000px;
    margin: 8% auto auto auto;
    padding-bottom: 50px;
}

.back-img-radius{
    background-color: #FF3399;
    height: 100px;
    margin: 5px 5px 5px 0;
    border-radius: 10px;
    display: inline-block;
}

.back-img{
    background-color: #FF3399;
    height: 100px;
    margin: 5px 2px 5px 0;
    display: inline-block;
}

.back-img-rect{
    background-color: #FF3399;
    height: 210px;
    margin: 5px 5px 5px 2px;
    display: inline-block;
}

.width-1{
    width: 1% !important;
    display: inline-block;
}

.width-2{
    width: 2% !important;
    display: inline-block;
}

.width-3{
    width: 23% !important;
    display: inline-block;
}

.width-4{
    width: 48% !important;
    display: inline-block;
}

.width-5{
    width: 50% !important;
    display: inline-block;
}

.width-6{
    width: 98% !important;
    display: inline-block;
}

.width-7{
    width: 62% !important;
    display: inline-block;
}

.width-8{
    width: 32% !important;
    display: inline-block;
}

.width-9{
    width: 4% !important;
    display: inline-block;
}

.width-10{
    width: 65% !important;
    display: inline-block;
}

.width-11{
    width: 48.3% !important;
    display: inline-block;
}

.bg-color-1{
    background-color: #FF3399;
}

.bg-color-2{
    background-color: #0099FF;
}

.bg-color-3{
    background-color: #00B050;
}

.bg-color-4{
    background-color: #FFC000;
}

.bg-color-5{
    background-color: #0070C0;
}

.bg-color-6{
    background-color: #188AE8;
}

.bg-color-7{
    background-color: #FA9604;
}

.bg-color-8{
    background-color: #FF0000;
}

.bg-color-9{
    background-color: #00B0F0;
}

.bg-color-10{
    background-color: #FFC000;
}

.cus-margin-left{
    margin-left: 6px;
}

.bg-default-data, .bg-default-data-rect{
    background-image: url(./images/data.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 80px;
    -moz-background-size: 80px;
    background-size: 80px;
}

.bg-default-data-transparent, .bg-default-link-transparent{
    display: inline-block;
    background-color: transparent;
    height: 80px !important;
    width:80% !important;
    margin: 10px auto 0 auto;
    cursor: pointer;
}

.bg-default-link-transparent-rect, .bg-default-data-transparent-rect{
    display: inline-block;
    background-color: transparent;
    height: 200px !important;
    width: 80% !important;
    margin: 10px auto 0 auto;
    cursor: pointer;
}

.bg-default-etc{
    background-image: url(./images/etc.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 50px;
    -moz-background-size: 50px;
    background-size: 50px;
}

.bg-default-link{
    background-image: url(./images/link.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 80px;
    -moz-background-size: 80px;
    background-size: 80px;
    cursor: pointer;
}
.bg-default-link-rect{
    background-image: url(./images/link.png);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: 80px;
    -moz-background-size: 80px;
    background-size: 80px;
    cursor: pointer;
}

.footer{
    position: absolute;
    width: 80%;
    height: 50px;
}
.span-footer{
    float: right;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px 10px 10px;
}

.img-computer{
    display: inline-block;
    height: 30px !important; 
    width: 30px !important;
    margin-bottom: -7px;
    background: url(./images/computer.png) no-repeat center center;
    -webkit-background-size: contain;
    -moz-background-size: contain;
    background-size: contain;
}

.div-title{
    font-size: 14px;
    color: #909090;
    background-color: #fefefe;
    margin-right: 5px;
    margin-top: -20px;
}

.span-times{
    cursor: pointer;
    float: right;
}

.fix-margin-bottom{
    margin-bottom: -2px;
}

.popup{
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 1000px;
    min-height: 500px;
    margin: 8% auto 6% auto;
    padding-bottom: 5%;
    background: #000; 
    opacity: 0.8;
    border-radius: 15px;
    -moz-opacity: 0.8;
    filter: alpha(opacity=80);
}
.popup-header{
    color: #fff;
    text-align: center;
    padding: 60px 0 10px 0;
    opacity: 1;
}

.popup-content{
    position: relative;
    opacity: 1;
}

.popup-body{
    position: relative;
    opacity: 1;
}

.popup-input input{
    opacity: 1;
    border: #fff 2px solid;
    margin: 10px 20%;
    width: 60%;
    height: 35px;
    border-radius: 6px;
    background-color: transparent;
    color: #fff;
}

.popup-row{
    opacity: 1;
    margin: 10px 20%;
    height: 120px;
    display: inline-block;
    width: 60%;
}

.popup-body .btn-file{
    height: 120px;
    margin: -2% auto;
    border-radius: 6px;
    width: 100%;
    display: inline-block;
}

.popup-body textarea{
    height: 120px;
    border-radius: 6px;
    width: 100%;
    background-color: transparent;
    border: #fff 2px solid;
    color: #fff;
}

.popup-footer{
    position: relative;
    opacity: 1;
    margin: 40px 0 20px 0;
    padding-right: 15%;
    display: inline-block;
    width: 100%;
}

.btn-popup{
    width: 100px;
    float: right;
    margin: -10px 10px;
    height: 35px;
    background-color: transparent;
    border: #fff 2px solid;
    border-radius: 6px;
    color: #fff;
}

.popup-input span{
    opacity: 1;
    border: 1px;
    margin: 10px 20%;
    width: 60%;
    height: 35px;
    color: #fff;
}

.btn-file{
    opacity: 1;
    border: #fff 2px solid;
    color: #fff;
    background-color: transparent;
}
.image-update{
    padding: 25% 20%;
    display: inline-block;
    font-size: 18px;
}

.div-link-name{
    height: 80px;
    margin-top: -10px;
}

.span-link-name{
    color: #fff;
    font-size: 14px;
    display: inline-block;
}