html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
}

.body-header {
    height: 15%;
    margin-bottom: 1%;
    border-bottom: 1px solid #00539F;
}

.logo-img {
    height: 100%;
    width: 30%;
    padding: 2% 5%;
}

.body-content {
    height: 90%;
}



/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}



.v-container{

}

.v-filter, .w-filter{
    padding-bottom: 5px;
    border-bottom: 1px solid #aaa;
    padding-left: 8%;
}



.row-margin{
    margin-bottom: 5px;
}


.v-content {
    padding-top: 20px;
}


.tb-caption {
    text-align: center;
    font-size: 20px;
    color: #000;
    font-weight: bold;
}

 th.dt-center, td.dt-center { text-align: center; }