.btn-video {
    background-color:white;
    border:1px solid #ccc;
    padding:3px;
}

.btn-video:hover {
    background-color:#efefef;
}

.home-video-icon{
    /*margin-top:17px;*/
    width:80px;
    font-size:20px!important;
    color:#00B050;
}

.m-video-header{
    position: fixed;
    right: 5px;
    top: 5px;
    /*z-index: 1052;*/
}
.m-video-body{
    text-align: center;
    padding: 0;
}
.m-video-container{
    height: 480px;
    width: 600px;
    border-radius: 4px;
}
#m-video-record, #m-video-play{
    height: 450px;
    width: 600px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}
.m-video-footer{
    margin-top:-30px;
    width: 600px!important;
    height: 60px;
    padding: 10px;
    border-top: 1px #aaa solid;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #afafaf;
    opacity: 0.8;
}

.m-video-op{
    height: 40px;
    width: 40px;
}

.m-video-cntdown{
    float: right;
    color: red;
    height: 30px;
    width: 30px;
    font-size: 20px;
    padding: 5px;
}


#m-play, #m-pause, #m-upload{
    font-size: 30px;
    color: red;
}
