
@{
    ViewBag.Title = "ReviewDocument";
    Layout = "~/Views/Shared/_Layout4Video.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/technicalvideo.css" />

<div class="row">
    @*<div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/Yield.png" style="height:40px; width:40px">
    </div>*@
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto Snap File" href="/FileShare/SnapFile">Snap File</a></li>
            <li class="active">Review Document</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10"><h4>@ViewBag.DocTitle</h4></div>
    <div class="col-xs-1"></div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        @if (ViewBag.url.ToUpper().Contains(".PDF"))
        {
            <div style="display: block; position: absolute; top: 0px; left: 0; margin: 0; padding: 0;margin-left:15px!important; width: 97%; height: 35px; background: #3d3d3d; z-index: 999;"></div>
            <iframe src="@ViewBag.Url" height="680" width="100%"></iframe>
        }
        else
        {
            <iframe src="@ViewBag.Url" height="680" width="100%"></iframe>
        }
    </div>
    <div class="col-xs-1"></div>
</div>
