
@{
    ViewBag.Title = "ReviewIEError";
    Layout = "~/Views/Shared/_Layout4Video.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/Content/technicalvideo.css" />
<h2>Oops! For security reason,this site don't support IE. Please use firefox to review it.</h2>

