
@{
    ViewBag.Title = "ReviewDocument";
    Layout = "~/Views/Shared/_Layout4Video.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/technicalvideo.css" />

<div class="row">
    @*<div class="nav navbar-nav navbar-left">
        <img src="~/Content/images/Yield.png" style="height:40px; width:40px">
    </div>*@
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto Snap File" href="/FileShare/SnapFile">Snap File</a></li>
            <li class="active">Review Document</li>
        </ol>
    </div>
</div>

<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10"><h4>@ViewBag.DocTitle</h4></div>
    <div class="col-xs-1"></div>
</div>
<div class="row">
    <div class="col-xs-1"></div>
    <div class="col-xs-10">
        @if (ViewBag.url.ToUpper().Contains(".PDF"))
        {
            <div style="display: block; position: absolute; top: 0px; left: 0; margin: 0; padding: 0;margin-left:15px!important; width: 96.9%; height: 34px; background: #4a4a4a; z-index: 999;"></div>
            <div style="display: block; position: absolute; top: 34px; left: 0; margin: 0; padding: 0;margin-left:15px!important; width: 95%; height:640px; background: #aaa;opacity: 0;filter: alpha(opacity=0); z-index: 999;"></div>
            <iframe id="myframe" src="@ViewBag.Url" height="680" width="100%" oncontextmenu="return false;"></iframe>
        }
        else
        {
            <div style="display: block; position: absolute; top: 0px; left: 0; margin: 0; padding: 0;margin-left:15px!important; width: 95%; height:675px; background: #aaa;opacity: 0;filter: alpha(opacity=0); z-index: 999;"></div>
            <iframe id="myframe" src="@ViewBag.Url" height="680" width="100%" oncontextmenu="return false;"></iframe>
        }
    </div>
    <div class="col-xs-1"></div>
    <script type="text/javascript">
        document.oncontextmenu = function () { // Use document as opposed to window for IE8 compatibility
            return false;
        };

        window.addEventListener('contextmenu', function (e) { // Not compatible with IE < 9
            e.preventDefault();
        }, false);

        document.ondblclick = function (e) {
            if (e.button == 2 || e.button == 3) {
                e.preventDefault();
                e.stopPropagation();
                return (false);
            }
        };
        
    </script>
</div>
