
@{
    ViewBag.Title = "ReviewError";
    Layout = "~/Views/Shared/_Layout4Video.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/Content/technicalvideo.css" />

<div class="row">
    @*<div class="nav navbar-nav navbar-left">
            <img src="~/Content/images/Yield.png" style="height:40px; width:40px">
        </div>*@
    <div class="nav navbar-nav navbar-left">
        <ol class="breadcrumb" style="width:600px">
            <li><a data-toggle="tooltip" title="Goto Snap File" href="/FileShare/SnapFile">Snap File</a></li>
            <li class="active">Review Document</li>
        </ol>
    </div>
</div>

<h2>Oops! Review File Error: You may be not authrized to review this file or the file doesn't exist</h2>


