<div class="modal fade" id="myLoadingModal" role="dialog">
    <div class="modal-dialog loading-modal">
        <!--[if lt IE 9]>
        <h1>Loading!  Please waiting...</h1>
        <![endif]-->

        <div class="row">
            <div class="spinner">
                <div class="cube1"></div>
                <div class="cube2"></div>
            </div>
        </div>
        <div class="loading-content">
            <h4>
                <span class="loading-span">F</span>
                <span class="loading-span loading-span-i-0">I</span>
                <span class="loading-span">N</span>
                <span class="loading-span loading-span-i-1">I</span>
                <span class="loading-span">S</span>
                <span class="loading-span">A</span>
                <span class="loading-span">R</span>
            </h4>
        </div>
    </div>
</div>

 @*data-toggle="modal" data-target="#myLoadingModal"*@
@*$('#myLoadingModal').modal('hide');*@