
@{
    ViewBag.Title = "按Wafer打包";
    Layout = "~/Views/Shared/_Layout4ProdLine.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/wafer.css" />
<link type="text/css" rel="stylesheet" href="~/Content/jquery.dataTables.min.css" />
<script type="text/javascript" src="~/Scripts/jquery.dataTables.min.js"></script>

<script type="text/javascript" src="~/Scripts/wafer.js"></script>
<script type="text/javascript">
    $(function(){
        Wafer.init();
    })
</script>

<div class="col-xs-4 mark-lists">
    <textarea class="form-control marks" id="marks"></textarea>
    <div class="marks-submit">
        <div class="total-marks label-danger col-xs-4" id="total-marks">0</div>
        <div class="marks-op col-xs-8 ">
            <input type="button" class="btn btn-success btn-marks-submit" id="btn-marks-submit" value="提交">
        </div>
    </div>
</div>
<div class="col-xs-8 mark-detail">
    <div class="mark-detail-op">
        <span class="glyphicon glyphicon-cog op-setting"></span>
        <span class="glyphicon glyphicon-download-alt op-download"></span>
    </div>
    <table class="table table-striped table-condensed" id="mywafertable">
        <caption class="tb-caption">Wafer 表</caption>
        <thead>
            <tr>
                <th>SN</th>
                <th>Date Code</th>
                <th>Wafer</th>
                <th>PN</th>
                <th>Status</th>
            </tr>
        </thead>
        <tbody id="WaferTableID">
        </tbody>
    </table>
</div>

<div id="modal-op-setting" class="modal fade" tabindex="-1" role="dialog">
    <div class="modal-dialog cus-modal" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">NG WAFER设置</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="col-xs-3 m-label">Wafer#</label>
                    <div class="col-xs-8 input-group remove-padding">
                        <input type="text" class="form-control" id="wafer-no"
                                name="wafer-no" placeholder="Wafer#">
                        <span class="input-group-addon m-confirm" id="m-confirm">
                            <span class="glyphicon glyphicon-ok"></span>
                        </span>
                    </div>
                </div>
                <div class="row">
                    <label class="col-xs-3 m-label">Add List</label>
                    <div class="col-xs-8 m-wafer-list">
                        @foreach (var item in ViewBag.NG_Wafer_List)
                        {
                            <div class="m-wafer" data-val="" data-name="">
                                <span class="wafer-no-list">@(item)</span>
                                <span class="glyphicon glyphicon-remove del-m-wafer"></span>
                            </div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <span class="op-notice">* 添加删除操作保存后生效</span>
                <button type="button" class="btn btn-default" data-dismiss="modal">取消</button>
                <button type="button" class="btn btn-primary" id="m-save-setting">保存</button>
            </div>
        </div>
    </div>
</div>
